
    
.payment{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  .data{
     margin: 2%;
     width: 90%;
    text-align: left;
    padding: 8px;
    color: #A5060A;
    font-weight: bold;
  
     span{
         color: black;
         font-weight: 500;
     }

  }

      

        button{
            background-color: #A5060A;
            padding: 4px;
            width: 30%;
            color: white;
            font-size: large;
            font-weight: bold;
            align-self: center;
            border-radius: 5px;

        }
    
}
