.page{
  display: none;
}
.front{
  display: none;
}
.landing{
width: 100%;
height: fit-content;
}
.top{
  display: flex;
}
.top-name{
  width:20%;
  font-size:50px;
  text-align:center;
  /* margin-bottom:0px; */
  color:#A5060A ;
  margin-left: 20%;
}
.desktop-name{
  width:fit-content;
  font-size:30px;
  text-align:center;
  /* margin-bottom:0px; */
  color:#A5060A ;
  margin-left: 2%;
}
.top-option{
  background: #E5E5E5;
  border-radius: 20px;
  padding:10%
  
}
.middle{
  width: 100%;
  height: 300px;
  background-image: url('./components/images/oyingbo\ 1\ \(1\).png');
  
}
.middle-grad{
  height: 100%;
  width: 80%;
  background: linear-gradient(95.01deg, #D4AF37 48.61%, rgba(237, 245, 228, 0) 91.9%);
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 30px;


}
.login-box{
  position: absolute;
  width: 30%;
  height: fit-content;
  background-color: #FFFFFF;
  top: 15%;
  right: 10%;
  padding: 3%;
  padding-top:0%;
  z-index: 100;
}
.order{
  height:60%;
  width:100%;
  margin-top:4%;
}
.order-heading{
  height:40%;
  width:100%;
  color:white;
  background:#D4AF37;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  padding: 2% 0;
  
}
.bill-row{
  width:100%;
  height:40%;
  padding:2% 0; 
  border-bottom:1px solid black;
  margin:2%;
  font-weight: bold;
  
}
.order-nav{
  width:43%;
  height:100%;
  color:white;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center ;
  font-size:10px;
  padding:2%

}
.height{
  height: 1000px;
  overflow: scroll;
}
.padding{
  padding: 5px 2px 10px 2px;
  margin: 4%;
  width: 100%;
  background: #EDF5E4;
border: 2px solid #A5060A;
box-sizing: border-box;
border-radius: 10px;
}
form{
  /* display: flex; */
  flex-direction: column;
  /* width: 85%; */
  margin: auto;
}
.checkbox{
  background: #EDF5E4;
   border: 5px solid #000000;
  box-sizing: border-box;
  
}
.blur{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:50;
  top:0;
}
.direction{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  box-shadow: 0 0 2px gray;
  padding:4% 0;

}
.direction img{
  width: 100%;
  height: 100%;
}
.direction-cont{
  display:flex;
  width:100%;
  flex-basis:30%;
  justify-content:space-around;
  height:80%;
}
.reset{
 color:white;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  background:#A5060A;
  border-radius: 10px;
  width:100%;
  margin-top:15%
}
.option{
  background-color: #A5060A;
  font-weight: bold;
  color: white;
}
.desktop-market{
  width: 100%;
  height: 100%;
  background-image: url(./components/images/background.png);
}
.category{
  width:100%;
  height:100%;
}
/* .cat-img{
  width:90%;
  height:90%;
  margin-left: 20px;
  margin: auto;
} */
.categories{
  box-shadow:0 0 2px  gray;
  text-decoration:none;
  width:30%;
  display:flex;
  flex-direction: column;
  margin:auto;
  height:fit-content;
  margin: 0 0 5% 0;
  justify-content:space-between;
  padding-bottom: 2%;
  align-items: center;
  
}
.cat-content{
  margin: auto;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0%;


}
a{
  color: black;
  text-decoration: none;
}
.cat-name{
  font-family:Poppins;
  font-style:normal;
   font-weight:normal;
  font-size:20px;
 line-height:30px;
 display:flex;
 align-items:center;
 text-align:center;
 font-weight: bold;
  color: #A5060A;
margin-right:5px;  
justify-content: center; 
text-transform: capitalize;                                                                
}
.cards{
   width:18%;
    height:200x;
    display:flex;
     flex-direction: column; 
     justify-content: space-between;
    box-shadow: 0px 0px 4px gray ;
    margin-bottom:10% ;
    margin-right:1%;
    background: white;
}
.card-img{
   font-weight:bolder;
    margin:auto;
     width:60%;
      height:40%;
      margin-top:5% 
}
.card-input{
  font-weight:bolder;
   display:flex;
    height:8%;
   margin:5% 
}
.cart-list{
   width:100%;
   height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
     
    text-transform:capitalize;
    font-weight:bolder 
}
.name-unit{
  display:flex;
   width:full-content;
   margin-left:2%;
   font-family: 6px;
}
.cart-price{
  width:13%;
  display:flex;
  justify-content:center;
  margin-left:2%
}
.cart{
  display: none;
}
.cart-button{
   border:none;
   width:20%;
   border-radius:100%;
    text-align: center;
     height:70%; 
     font-weight:bolder
}
.quant-input{
   width:60%;
   border:none;
   height:70%; 
   display:flex; 
   justify-content:center;
    align-items:center; 
    text-align:center; 
    background:#D5EDBB;
    margin: 0px 3px; 
    font-weight: bolder
}
.middle-grad form input{
  width:40%;
  padding:1% 0;
  margin-top:1%;
   background:#ECCC64;
 border:2px solid #ECCC64;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius:10px;
   margin-left:5%;
}
@media (max-width:500px){
  .desktop-market{
    display: none;
  }
  .height{
    height:800px}
  .landing{
    display: none;
  }
.page{
  display: inline-block;
}
.cat-name{
  font-family:Poppins;
  font-style:normal;
   font-weight:bold;
  font-size:25px;
 line-height:30px;
 display:flex;
 align-items:center;
 text-transform: uppercase;
 text-align:center;
 color:#000000;
margin-right:5px; 
width: 100%; 
                                                                 
}

  .front{
  display:inline-block;
  width: 100%;
  height: 810px;
  background-image: url('./components/images/oyingbo\ 1\ \(1\).png');
}
a{
  text-decoration: none;
}
.cards{
   width:47%;
    height:250px;
    display:flex;
     flex-direction: column; 
     justify-content: space-between;
    box-shadow: 0px 0px 4px gray ;
    margin-bottom:10% 
}
.card-input{
  font-weight:bolder;
   display:flex;
    height:8%;
   margin:5% 
}
.card-img{
   font-weight:bolder;
    margin:auto;
     width:70%;
      height:60%;
      margin-top:10% 
}
.ad{
  position: absolute;
  width:250px ;
  top: 45%;
  left: 20%;
  text-align: center;

}

.gradient{
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #D4AF37 56.64%, rgba(58, 55, 55, 0.275082) 88.71%, rgba(49, 44, 44, 0) 99%);
}
.sign-in{
  position: absolute;
width: 94px;
height: 50px;
 right:0%;
 top: 10%;
 bottom: 772px;
 text-decoration: none;
background: #A5060A;
border-radius: 40px 0px 0px 40px;
color: #FFFFFF;
text-align: center;
/* padding-top: 5px; */
display: flex;
justify-content: center;
/* padding: 10px; */
}
.button{
  text-decoration: none;

  left: 109px; 
  
  margin-right: 0px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
text-decoration: none;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* width: 220px;
height: 66px; */
padding: 15px 30px;
background: #A5060A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 80px;
}
.padding{
  padding: 10px 2px 10px 2px;
  background: #EDF5E4;
border: 2px solid #A5060A;
box-sizing: border-box;
border-radius: 10px;
}
h1{
font-family: Rosarivo;
font-style: normal;
font-weight: normal;
font-size: 75px;
line-height: 80px;
margin-bottom: 0px;
}
.width{
  width: 100%;
}
.page{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #E5E5E5

}
.location-head{
   width:43%;
   display:flex;
   justify-content:space-between;
}
.location-input{
  width:95%;
  margin:auto;
  margin-top:30%;
}
.location-input h2{
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25)
}
.location-input input{
width:95%;
margin:5px;
padding:3% 0%;
border:2px solid #55DB52;
border-radius:10px
}
.location-input div{
  position: absolute;
  width:70px;
  height: 70px;
  border: 3px solid #A5060A;
   border-radius: 100%;
  display:flex;
  justify-content:center;
  align-items:center; 
  bottom:47%;
  right: 7%;
  background:#E5E5E5
}
.location-back{
  align-self:center;
   margin:15% 0px 0px 8% ;
}
.intro{
  margin: auto;
  width: 50%;
  margin-top: 10%;


}
.instruction{
  color: #A5060A;
  width: 100%;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: 1px;
}
.fa-2x{
  font-size: 1.5em;
}
.cover{
  position: relative;
  top: 50%;
  width: 100%;
  height: 50%;
  background-image: url(./components/images/Vector\ 2.png);
}
.market-cover{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  background-image: url(./components/images/Vector\ 4.png);
}
.back{
  text-decoration: none;
  font-weight: bolder;
  color : black;
  letter-spacing: 1px;

}
form{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}
input{
  margin-top: 20px;
}

::placeholder{
  margin-left: 10px;
  text-transform: capitalize;
}
.checkbox{
  background: #EDF5E4;
   border: 5px solid #000000;
  box-sizing: border-box;
  
}

.menu div{
    background-color: black;
    width: 20px;
    height: 2.5px;
    margin: 3px;
}
header{
  background: #E5E5E5;
  
  margin-top: 50px;
  /* position: fixed; */
  width: 95%;
  height: 80px;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}.menu{
  display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 20px;
    align-self: flex-start;
    margin-top: 20px;
}
.category{
  width:100%;
  height:100%;
  /* margin-top: 30%; */
  
}
.background{
   background-color:#E5E5E5;
}
.reg-body{
  z-index: 400;
   position:absolute;
  width:100%;
}
.welcome{
  height:50%;
  width:80%;
  margin: auto;
  box-shadow: 0px 0px 2px grey;
  padding:5%;
}
.response{
  color:#A5060A;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.reg-link{
  position:relative;
  top:80px; 
  width:15%;
   height:50px;
   margin: 15% 0px 0px 5%
}
.reg-button{
  color:white;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  background:#A5060A;
  border-radius:10px;
  width:100%;
  margin-top:15%;
}
.cat-img{
  width:120px;
  height:100px;
  margin-left: 20px;
}
.categories{
  box-shadow:2px 2px  gray;
  text-decoration:none;
  width:80%;
  flex-direction: row;

  margin:auto;
  height:fit-content;
  margin-top:10%;
  justify-content:space-between;
  padding: 2%;
}
.name{
  width:20%;
  font-size:50px;
  text-align:center;
  margin-bottom:0px;
  margin-left:20%;
}
/* bills */
.bill{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}
.noteLink{
  width: 15%;
   height:fit-content; text-align:center; 
   font-weight:bold; 
   position:absolute; right:3%;
   top:55%;
   background:#D5EDBB;
    color:black;
    z-index:500;
    border:2px solid black;
    border-radius:100%;
    padding:2%
}
.order{
  height:60%;
  width:100%;
  margin-top:4%;
}
.order-heading{
  height:40%;
  width:100%;
  color:white;
  background:#D4AF37;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  
}
.bill-row{
  width:100%;
  height:30%; 
  border-bottom:1px solid black;
}
.order-nav{
  width:43%;
  height:100%;
  color:white;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center 

}
.search-bar{
border:1px solid #D4AF37;
box-sizing:border-box;
border-radius:10px;
padding:4% 0 4% 0;
}
.cart{
  display:inline-block;
  height:100%;
  width:100%;
  background:white;
  z-index:600;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.cart-list{
   width:100%;
   height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
     background: #EDF5E4;
    border:1px solid #55DB52;
    text-transform:capitalize;
    font-weight:bolder 
}



 .reset{
 color:white;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  background:#A5060A;
  border-radius: 10px;
  width:100%;
  margin-top:15%
}
}